/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
}

/* General Block Styling */
.block {
    margin-bottom: 5px;
    border-radius: 10px; /* Rounded corners */
}

.location {
    background-color: #000000;
}

/* Avatar Block */
.avatar-img {
    width: 170px;
    height: 170px;
    border-radius: 10%;
    float: left;
    padding: 10px;
    margin-bottom: 5px;
}

/* Profession Styling */
.profession h1 {
    font-size: 32px;
    color: #333;
    text-align: left;
    text-wrap: wrap;
}
.social p {
    font-size: 18px;
    font-weight: bold;
    color: #E9953D;
}

.location {
    font-size: 24px;
    color: #f0f0f0;
}

.profession p {
    font-size: 18px;
    color: #666;
}

/* Bio, Location, CTA Blocks */
.bio, .cta {
    font-size: 16px;
    color: #333;
}
.Image1, .Image2 {
    flex-wrap: wrap;
}
/* Image and Additional Images */
.footer {
    width: 100;
    border-radius: 20px; /* Rounded corners for images */
}

/* CTA Button */
.cta button {
    background-color: #000000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 20px; /* Rounded corners for button */
    font-size: 18px;
    cursor: pointer;
}

.cta button:hover {
    background-color: #333333;
}

/* Social Links */
.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #5b0000;
    font-size: 16px;
}

.links a:hover {
    text-decoration: underline;
}
